<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Top || Todolist</title>
  </head>

  <body>
    <header>
      <%= link_to("Todolist", "/", class:"logo") %>
      <div class="user-menu">
        <a id="login"><i class="fas fa-sign-in-alt fa-fw"></i> ログイン</a>
        <a class="signup"><i class="fas fa-user-plus fa-fw"></i> 新規登録</a>
      </div>
    </header>
    <%= form_tag("/users/signup") do %>
      <div id="new-wrapper">
        <div class="modal">
          <i class="fas fa-times close-modal fa-lg"></i>
          <p class="modal-head">新規登録</p>
          <p>ユーザー名</p>
          <input type="text" name="name" maxlength="30" required class="modal-input">
          <p>メールアドレス</p>
          <input type="email" name="email" required class="modal-input">
          <p>パスワード</p>
          <input type="password" name="password" required minlength="10" maxlength="30" class="modal-input">
          <p><input type="submit" value="新規登録" class="modal-submit"></p>
        </div>
      </div>
    <% end %>
    <%= form_tag("/login") do %>
      <div id="login-wrapper">
        <div class="modal">
          <i class="fas fa-times close-modal fa-lg"></i>
          <p class="modal-head">ログイン</p>
          <p>メールアドレス</p>
          <input type="email" name="email" required class="modal-input">
          <p>パスワード</p>
          <input type="password" name="password" required minlength="10" maxlength="30" class="modal-input">
          <p><input type="submit" value="ログイン" class="modal-submit"></p>
        </div>
      </div>
    <% end %>
    <main>
      <h1 id="top">身の回りのタスクを</h1>
      <h1>Todolistを使って</h1>
      <h1>整理する</h1>
      <input type="button" class="signup" value="今すぐ始める" class="start-btn">
      <img src="assets/image.png">
      <img src="assets/image2.png">
      <input type="button" class="signup" value="今すぐ始める" class="start-btn">
    </main>
    <footer>
      <p>©Yuya-Saudade-Bonfire</p>
    </footer>
  </body>
</html>
