<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Top || Todolist</title>
  </head>

  <body>
    <header>
      <%= link_to("Todolist", "/", class:"logo") %>
      <div class="menu">
        <%= link_to("タスク一覧", "/tasks/index") %>
      </div>
    </header>
    <main>
      Todoistを使って、身の回りのタスクを整理しましょう！
    </main>
  </body>
</html>
