// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* posts header ================================ */
.header {
  background-color: rgb(40, 40, 40);
  width: 100%;
  i {
    color: rgb(222, 222, 222);
    line-height: 50px;
    padding: 0 10px 0 40px;
    &:hover {
      cursor: pointer;
    }
  }
}


/* tasks/index ================================ */
.index-head {
  font-size: 25px;
  text-align: center;
  line-height: 7vh;
  color: #fff;
  width: 100%;
  padding: 20px 0 10px 0;
  display: inline-block;
}

.tasks-index-item {
  padding: 20px 30px;
  margin: 0 auto;
  color: #fff;
  max-width: 90vw;
  font-size: 20px;
  text-decoration: none;
  background-color: rgb(40, 40, 40);
  border-bottom: 1px solid rgb(167, 163, 163);
  nobr {
    color: #fff;
    user-select: none;
    width: 60vw;
    &:hover {
      cursor: pointer;
    }
  }
}

/* task/show ================================ */
#task-show {
  font-size: 15px;
  width: 90%;
  padding: 10px 30px 0 30px;
  margin: 0 auto;
  display: none;
  color: #fff;
  background-color: rgb(40, 40, 40);

  #edit-btn {
    width: 70px;
    line-height: 20px;
    margin-top: 10px;
    padding-left: 10px;
    user-select: none;
    background-color: red;
    outline: 0;
    border-style: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
  }

  #edit-input {
    background-color: rgb(29, 29, 29);
    color: #fff;
    border: 1.5px solid rgb(167, 163, 163);
    width: 40vw;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 16px;
    padding-left: 10px;
    outline: 0;
    display: inline-block;
  }
}

/*task-new  ======================================*/

#task-new {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  width: auto;
  color: rgb(167, 163, 163);
  transition: all 0.3s ease;

  i {
    width: 21px;
    height: 21px;
  }

  &:hover {
    color: red;
  }
}

.hidden_show2 {
  overflow: hidden;
}

#task-new .hidden_show2 {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;
}

#task-new label {
  display: inline-block;
  width: 100%;
  user-select: none;
  cursor: pointer;
  input:checked ~ label {
    margin-bottom: 0;
  }
}

.checkbox-1, .checkbox-2 {
  display: none;
}

#task-new input:checked ~ .hidden_show2 {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.task-input {
  background-color: rgb(29, 29, 29);
  color: #fff;
  border: 1.5px solid rgb(167, 163, 163);
  width: 40vw;
  height: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  padding-left: 10px;
  outline: 0;
}

#add-btn {
  width: 80px;
  height: 30px;
  margin-top: 10px;
  background-color: red;
  outline: 0;
  border-style: none;
  color: #fff;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}
